html{
  scroll-behavior: smooth;

  }



  @media(min-height:500px){
 }

@font-face {
  font-family: 'FivoSans';
  src: url("../../Fonts/FivoSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../../Fonts/Gotham Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FivoSansBold';
  src: url("../../Fonts/FivoSans-Bold-Oblique.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../../Fonts/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}
* { 
  margin: 0; 
  padding: 0; 
  box-sizing:border-box; 
}
.curveSVG{
  align-self: flex-end;
}